{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["import"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "document": true,
    "window": true,
    "process": true,
    "fetch": false
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
